﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="title" style="width:100%">
        <img class="library_icon" src="~/icons/library-building.png" alt="library_img" align="left" />
        @ViewBag.Title
    </div>
    <div class="source-body">
        <div class="main-body">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic delectus ex numquam nulla, dignissimos maiores et aperiam totam repellendus doloribus voluptatem asperiores similique nostrum voluptatum error, quo odit ullam sapiente eius voluptas laudantium. Sed est perferendis cum minus aliquam, velit veritatis fugiat molestias neque, porro optio illum, ipsum corrupti? Amet aspernatur eius a tempora at doloribus qui deserunt cumque, itaque nam! Iste asperiores tempore similique voluptatem ut inventore fugiat consequatur! Quae quod, dolores excepturi labore at tenetur. Facere magnam soluta omnis quae reiciendis quibusdam ipsam dolore ea voluptates. Quos expedita cumque labore tempora eos nihil reprehenderit sapiente vitae adipisci, quas unde impedit blanditiis quidem commodi minus molestiae dolore laborum quo culpa? Mollitia exercitationem rerum, commodi officia optio officiis totam minus in corporis, pariatur excepturi ad. Consequatur perferendis dolorem veritatis eligendi provident ab vel doloribus impedit harum, laboriosam molestiae iste repellendus asperiores est nihil fugit magnam animi tenetur in numquam saepe labore! Quas eligendi alias quasi nesciunt, distinctio dolor et minima similique odio animi repellat quis fuga laboriosam, reiciendis quidem ex fugit illo perspiciatis quos ea! Doloribus corporis blanditiis voluptatem tenetur, doloremque numquam iste, veniam qui cumque iusto, optio omnis eligendi magnam autem eveniet est. Eum ratione officiis eligendi commodi placeat dolores nihil repellendus nemo consequatur consectetur mollitia impedit veniam doloribus, numquam voluptas veritatis, et omnis distinctio neque at iste maxime? Cupiditate dicta ratione velit harum beatae facilis ea laudantium voluptates corporis impedit ducimus excepturi at delectus laborum ex unde nam, quibusdam est pariatur earum quidem. Ex possimus corrupti omnis quis incidunt saepe, iure nesciunt deserunt earum aperiam sit tempora? Culpa tempora ad libero. Nihil impedit et consequatur nostrum! Quia delectus quam ea dicta illum vero velit cupiditate quae modi similique tempora eius dolorem ad, quas, atque facilis mollitia adipisci fuga. Soluta odit cupiditate dicta tenetur vel voluptatibus maiores veritatis explicabo?
        </div>
        <div class="navbar navbar-dark " id="navbarSupportedContent">
                <ul class="navbar-nav col-md-4">
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("Index", "Main")">Main <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Guest")">Guest</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="@Url.Action("Index", "Questionnaire")">Questionnaire</a>
                    </li>
                </ul>
            </div>
        </div>
        <footer class="col-lg-12 bg-dark">
            <div class="d-flex flex-column align-items-center justify-content-center">
                <span>Bohdan Marii </span>
                <span>bohdan.marii.ki.2018@lpnu.ua </span>
                <span> © 2021 All Rights Reserved </span>
                <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
            </div>
        </footer>
        <div class="container body-content">
            @RenderBody()
        </div>
        @Scripts.Render("~/Scripts/script.js")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
