﻿.menu {
    height:150px;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    align-items:center;
    justify-items:center;
    font-size:40px;
    font-weight:600;
    background-color:darkgray;
}